doctype html
html(lang='en')
  head
    meta(http-equiv='content-type', content='text/html; charset=UTF-8')
    meta(charset='utf-8')
    title postss
    meta(name='generator', content='CampWire')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    link(href='../css/bootstrap.min.css', rel='stylesheet')
    link(href='../foundation-icons/foundation-icons.css', rel='stylesheet')
    link(href='../css/styles.css', rel='stylesheet')
    link(rel='stylesheet', href='//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css')
body
  if(!post)
     center 404 (URL DOES NOT EXISTS)
  if(post)
    include ./header.jade
    .container
      .col-lg-12
        .col-lg-12
          .row
            a(href='?upvote='+post._id, title='upvote')
              i.fi-arrow-up
            |&nbsp;&nbsp;
            span.item-rank
                if(post.url)
                    a(href=post.url ,target='_blank') #{post.title} (#{post.root_url})
                if(!post.url)
                    |#{post.title}
            br
            |#{post.points} points | submitted by #{post.user} 
            abbr.timeago(title=post.timestamp)
            br
            if(post.message)
                hr
                |#{post.message}
          .row
          hr
          #disqus_thread
          script(type='text/javascript').
            /* * * CONFIGURATION VARIABLES * * */
            var disqus_shortname = 'campus-wire';
            /* * * DON'T EDIT BELOW THIS LINE * * */
            (function() {
            var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
            dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
            (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
            })();
          noscript
            | Please enable JavaScript to view the 
            a(href='https://disqus.com/?ref_noscript', rel='nofollow') comments powered by Disqus.
    script(src='//ajax.googleapis.com/ajax/libs/jquery/2.0.2/jquery.min.js')
    script(src='../js/validate.js')
    script(src='../js/bootstrap.min.js')
    script(src='../js/timeago.js')
    script(src='../js/client.js')
    script(type='text/javascript').
      /* * * CONFIGURATION VARIABLES * * */
      var disqus_shortname = 'campus-wire';
      /* * * DON'T EDIT BELOW THIS LINE * * */
      (function () {
      var s = document.createElement('script'); s.async = true;
      s.type = 'text/javascript';
      s.src = '//' + disqus_shortname + '.disqus.com/count.js';
      (document.getElementsByTagName('HEAD')[0] || document.getElementsByTagName('BODY')[0]).appendChild(s);
      }());
      jQuery(document).ready(function() {
        $("abbr.timeago").timeago();
      });
